page-landing {
.scroll-content{
 background: url(../assets/imgs/backgroundn1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height:100%;
    overflow-y:hidden;

}
.btnAlign {
	position:absolute;	
	top:84%;
	border-radius:8px;
	width:90%;
	padding:24px;
}

}

